<div class="card mt-4" [formGroup]="parentFormGroup" [ngClass]="additionalClass">
  <div class="card-header" style="text-align: center;">
    <h3 class="card-title pr-1" style="color:#00a1df;">
      <ng-content select=".item-title"></ng-content>
    </h3>
  </div>


  <div class="card-body" style="color: #00a1df">
      <div class="row">
        <div class="col-sm-12">
          <!-- <hr class="d-md-none" *ngIf="item.description[currentLang] && item.description[currentLang].length > 0" /> -->
          <div class="card-sale-period">
            <ng-content select=".item-qty-selector" ></ng-content>
          </div>
          <!-- <div class="card-sale-period">
            <app-item-sale-period [item]="item" [currentLang]="currentLang"></app-item-sale-period>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <!-- <hr class="d-md-none" *ngIf="item.description[currentLang] && item.description[currentLang].length > 0" /> -->
          <div class="card-sale-period">
            <div class="markdown-content mt-2" [innerHTML]="item.description[currentLang]"></div>
          </div>
          <!-- <div class="card-sale-period">
            <app-item-sale-period [item]="item" [currentLang]="currentLang"></app-item-sale-period>
          </div> -->
        </div>
      </div>
    </div>


  <div class="card-footer" style="color: #00a1df">
    <div class="card-item-price" style="font-weight:bold">
      <ng-content select=".item-price"></ng-content>
    </div>
  </div>
</div>
