<ng-container *ngIf="events">
  <app-language-selector [contentLanguages]="languages"></app-language-selector>
  <div class="row" style="font-family: 'Bangers', cursive !important;">
    <div class="col-sm-3">
      <!-- <app-company-info></app-company-info> -->
    </div>
    <div class="col-sm-6" style="text-align: center; background-color:white !important; border-radius: 30px;"> 
            <app-company-info></app-company-info>
      <table class="table table-striped" style=" margin-top:10px;">
        <thead>
        <tr>
          <th scope="col" style="color: #00a1df;"><h4>Datum</h4></th>
          <th scope="col" style="color: #00a1df;"><h4>Aankoop</h4></th>
        </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let chunk of events">
            <tr *ngFor="let event of chunk;">
              <td style="font-size:larger;">
                <app-event-dates [dateValidityProvider]="event" [displayIcon]="false" style="color:#5c5c5c"></app-event-dates>
              </td>
              <td >          
                <div [routerLink]="['event', event.shortName]" class="btn btn-success">{{'event-list.link' | translate}}</div>
              </td> 
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
  
<!--  
  <h1 translate="event-list.title"></h1>

  <div class="card-deck" *ngFor="let chunk of events">
    <div class="card card-light event-card mb-3" *ngFor="let event of chunk">
      <div class="card-header bg-white event-header">
        <img [src]="'/file/'+event.fileBlobId" class="mx-auto img-responsive" alt="" aria-hidden="true" role="presentation">
        <div class="h4 online-flag" *ngIf="isEventOnline(event)"><span class="badge badge-secondary">{{'event.online.badge' | translate}}</span></div>
      </div>
      <div class="card-body">
        <h2 class="card-title" style="color:black">{{event.displayName}}</h2>
        <app-event-dates [dateValidityProvider]="event" [displayIcon]="true" style="color:black"></app-event-dates>
        <p class="card-text text-muted mt-1" *ngIf="!isEventOnline(event)" style="color:black">{{event.location}}</p>
      </div>
      <div class="card-footer border-top-0 bg-white">
        <div class="d-flex justify-content-end">
          <a [routerLink]="['event', event.shortName]" class="btn btn-success stretched-link">{{'event-list.link' | translate}}<span class="sr-only"> {{event.displayName}}</span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="alert text-center" *ngIf="events.length == 0">
    <h3 translate="event-list.no-events"></h3>
  </div> -->

</ng-container>
